 <!DOCTYPE html>
<html>
<head>
	<title>Astro</title>
    
    <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
            <link rel="stylesheet" type="text/css" href="css/font-awesome.css">
        
<!--     <link rel="stylesheet" href="css/bootstrap.min.css">-->
         <link rel="stylesheet" href="css/bootstrap.css">

    <link rel="stylesheet" href="css/animate.min.css"> 
    <link rel="stylesheet" href="css/style.css">
<!--     <link rel="stylesheet" href="css/mbr-additional.css" type="text/css">-->
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/mycss.css">

  
    

    <style>
        body{
            background: url(../images/image1.jpg) no-repeat fixed;
            background-size: cover;
        }
    </style>
    
    
</head>
    <body>
    
   
        <header class="navbar1">  
         
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home<span class="sr-only">(current)</span></a></li>
                    <li><a href="#">Products</a></li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle">Tools<span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="#ask">Ask To Parrot</a></li>
                        <li><a href="#a_predictor">Ascendant Predictor</a></li>
                        <li><a href="#a_forcaster">Ascendant Forcaster</a></li>
                        <li><a href="#sign_compatibility">sign compatibility</a></li>
            <!--            <li role="separator" class="divider"></li>-->
                        <li><a href="#sign_predictor">Sign Predictor</a></li>
            <!--            <li role="separator" class="divider"></li>-->
                        <li><a href="#luck_generator">Luck Generator</a></li>
                        <li role="separator" class="divider"></li>
                           <li><a href="#travel">Travel accommodations</a></li>

                      </ul>
                    </li>
                    <li><a href="index2.html">Hindi Astro</a></li>
                  </ul>
    
        </header>
        
        
        
        
        <nav class="navbar navbar-default navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"></a>
    </div>

      
      
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home<span class="sr-only">(current)</span></a></li>
        <li><a href="products.html">Products</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle">Tools<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#ask">Ask To Parrot</a></li>
            <li><a href="#a_predictor">Ascendant Predictor</a></li>
            <li><a href="#a_forcaster">Ascendant Forcaster</a></li>
            <li><a href="#sign_compatibility">sign compatibility</a></li>
<!--            <li role="separator" class="divider"></li>-->
            <li><a href="#sign_predictor">Sign Predictor</a></li>
<!--            <li role="separator" class="divider"></li>-->
            <li><a href="#luck_generator">Luck Generator</a></li>
            <li role="separator" class="divider"></li>
               <li><a href="#travel">Travel accommodations</a></li>

          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="index2.html">Hindi Astro</a></li>
       <!-- <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>-->
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    
        
        
        
        
          <div class="container-fluid">
        <div class="row">
            
            <div class="col-xs-10 col-md-9" >
              <img src="images/logo.png" style="width:20vw;">
            </div>
            
            <div class="socc col-xs-2 col-md-3">
						<ul>
							<li id="bounce0" class="bounce_icon socc_anim" href="#"><a  class="" href="#"><i class="fa fa-facebook-square"></i></a></li>
							
							<li id="bounce1" class="bounce_icon" href="#"><a class="" href="#"><i class="fa fa-linkedin-square"></i></a></li>
							<li id="bounce2" class="bounce_icon" href="#"><a class="" href="#"><i class="fa fa-google-plus-square"></i></a></li>
							
						</ul>
            </div>
            
         </div>
    </div>    
        
        
        
        
        
        
    <form>
  <div class="form-group">
    <label for="exampleInputEmail1">Name</label>
    <input type="name" class="form-control" id="" placeholder="name" required>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Email</label>
    <input type="email" class="form-control" id="" placeholder="Email" required>
  </div>
        <div class="form-group">
    <label for="exampleInputEmail1">Shiping Address</label>
    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Address">
  </div>
         <div class="form-group">
    <label >Country</label>
    <input type="text" value="India" class="form-control" id=""  readonly>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
        <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  
  <button type="submit" class="btn btn-default">Submit</button>
</form>
        
        
        
        
        
        
        
        <script src="js/jquery.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/function.js"></script>
    
    <script src="tawk.js"></script>
    
    

    <link rel="stylesheet" href="css/widget.css">
   
  
  
    
    
    
    

    
    </body>
</html>
    
    