<!DOCTYPE html>
<html>
<head>
	<title>Astro</title>
    
    <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= stylesheet_link_tag    "main", media: "all", "data-turbolinks-track" => true %>

    

    
<style>
    .navbar{
    margin-bottom: 0;
    }
    .navbar1{
        
         top: -1000px;
    }
     .dropdown:hover .dropdown-menu{
            display:block;
        }
    
    
    .tool{
        width: 40%;
        border:2px solid #f8f8f8;
		border-radius: 10%;
			}

			input{
				background: #575757 !important;
				color: #fff !important;
			}
    </style>
     

    </head>
    <body>
    
        
        
        
        
        
        
   
             <nav class="navbar navbar-default navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"></a>
    </div>

      
      
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ><a href="index.html">Home<span class="sr-only">(current)</span></a></li>
        <li><%=link_to "BLOG",posts_path,class: "" ,id: "" %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle">Tools<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#saras">Saraswati Mantra</a></li>
            <li><a href="#god">God Mantra</a></li>
            <li><a href="#goddes">Goddes Mantra</a></li>
             
            
         
          
               <li><a href="#travel">Travel accommodations</a></li>
            <li><a href="#sign_compatibility">sign compatibility</a></li>
            <li><a href="#a_predictor">Ascendant Predictor</a></li>

                          

          </ul>
        </li>
       
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#">Contact : +91-981192292</a></li>
       
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    
    
    
    
    <header class="navbar1 container-fluid"> 
        <div class="row">
        <div class="col-md-4 navbar-brand">PanditJiAstro</div>
            <div class="col-md-8">
            
             <ul class="nav navbar-nav ">
                    <li class="active"><a href="index.html">Home<span class="sr-only">(current)</span></a></li>

                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle">Tools<span class="caret"></span></a>

                        <ul class="dropdown-menu">
                        <li><a href="#saras">Saraswati Mantra</a></li>
                        <li><a href="#god">God Mantra</a></li>
                        <li><a href="#goddes">Goddes Mantra</a></li>




                           <li><a href="#travel">Travel accommodations</a></li>
                        <li><a href="#sign_compatibility">sign compatibility</a></li>
                        <li><a href="#a_predictor">Ascendant Predictor</a></li>



                      </ul>

                    </li>
                     <li><a href="indexp.html">Products</a></li>
                 <li class="active"><a href="#">Contact : +91-981192292</a></li>
        
      </ul></div>
        
        </div>
            
                
            
            
        </header>  

        
        
       
         <div id="front">
        
   
      
         <div class="socc">
						<ul>
							<li id="bounce0" class="bounce_icon socc_anim" href="#"><a  class="" href="#"><i class="fa fa-facebook-square"></i></a></li>
							
							<li id="bounce1" class="bounce_icon" href="#"><a class="" href="#"><i class="fa fa-linkedin-square"></i></a></li>
							<li id="bounce2" class="bounce_icon" href="#"><a class="" href="#"><i class="fa fa-google-plus-square"></i></a></li>
							
						</ul>
        </div>
        
        
         
        
    </div>

        
        
        
        
        
        
         <div id="sign_compatibility" class="content container-fluid" style="background:#388d80;">
        
            <div class="left_content col-md-6">

                   <!-- Astrologyfutureeye.com zodiac sign compatibility widget Code Start --> <!-- You are not permitted to edit or alter the code -->
                    <script type="text/javascript" src="js/widgetsigncompability.js"></script> 
                    <!-- Zodiac sign compatibility widget Code End -->
             </div>
           
             <div class="right_content col-md-6">
                 <p>Your Zodiac sign is where the sun is in your horoscope, and in astrology the sun reveals your relation to your father (your mother is represented by the moon). So, your Zodiac sign compatibility will also tell something about how compatible your fathers are to you and your partner, as well as to one another.</p>
            </div>
    </div>
    
    
    
    
    
    

     <div id="a_predictor" class="content container-fluid" style="background:#e67400;">
           
           <div class="left_content col-md-6">
                <p>Know your lagna lord, wealth lord, luck lord which represent your life, money and luck. Know your lucky deity, arising time or age of luck, lucky business or job and auspicious gemstone according to Vedic astrology.</p>
           </div>
        
       
          <div class="right_content col-md-6">
    

                        <!-- Astrologyfutureeye.com Ascendant Predictor widget Code Start --> <!-- You are not permitted to edit or alter the code -->
                            <script style="z-index:0;" type="text/javascript" src="js/widgetascedantpredictor.js"></script> 
                            <!-- Ascendant Predictor widget Code End -->     
           </div>
    </div>
   

   
    
    
    
    
    
    
    
    
    
    
    

  
    
      
  
    
   
    
    
    
    
    
    
    

    
    
    
   
    
    
    

    
   

    
   
    
    

    
    
    
  

    
        
        
        
        
        
        
        
        
        
        
        
        <div id="saras" class="content container-fluid" style="background:#4583aa;">
        
            <div class="left_content col-md-6">

                    <!-- Astrologyfutureeye.com Random banner mantra widget Code Start --> <!-- You are not permitted to edit or alter the code -->
                        <script type="text/javascript" src="js/widgetonegodmantra.js"></script><!-- Random banner mantra widget Code End -->
             </div>
           
             <div class="right_content col-md-6">
                 <p>A simple and easy to use app, that provides you with chants for a number of Indian Gods. It includes a selected few prayers, mantras, hymns on Hindu gods and goddesses.</p>
            </div>
    </div>
    
    
   

   

    
   

    
     <div id="god" class="content container-fluid" style="background:#602cac;">
           
           <div class="left_content col-md-6">
                <p>Mantras For Indian God 
               It includes a selected few prayers, mantras, hymns on Hindu gods .</p>
           </div>
        
       
          <div class="right_content col-md-6">
    

                        <!-- Astrologyfutureeye.com Random God mantra widget Code Start --> <!-- You are not permitted to edit or alter the code -->
                        <script type="text/javascript" src="js/widgetgodmantra.js"></script>
                        <!-- Random God mantra widget Code End -->
           </div>
    </div>
   

    
    

   

    <div id="goddes" class="content container-fluid" style="background:rgb(47,69,79);">
        <div class="row">
            <div class="left_content center-block text-center tool col-md-6">
                        <form name="wwnumeroform" id="wwnumeroform" class="form-group">
                        <h2 style="color:#fff;">Know Your Luck</h2>

                        <img height="75" src="tool_img/numerology.jpg" alt="Numerology Prediction" title="Numerology Prediction" rel="nofollow"  class="img img-responsive"><br><br>
                        <span style="font-size:13px;font-weight:bold;">Birth Day&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Birth Month&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Birth Year</span><br>

                        <select size="1" name="birthday" class="custom-select mb-2 mr-sm-2 mb-sm-0" >
                                <option value="x" selected="">Select</option><option value="1"> 1 </option><option value="2"> 2 </option><option value="3"> 3 </option><option value="4"> 4 </option><option value="5"> 5 </option><option value="6"> 6 </option><option value="7"> 7 </option><option value="8"> 8 </option><option value="9"> 9 </option><option value="10"> 10 </option><option value="11"> 11 </option><option value="12"> 12 </option><option value="13"> 13 </option><option value="14"> 14 </option><option value="15"> 15 </option><option value="16"> 16 </option><option value="17"> 17 </option><option value="18"> 18 </option><option value="19"> 19 </option><option value="20"> 20 </option><option value="21"> 21 </option><option value="22"> 22 </option><option value="23"> 23 </option><option value="24"> 24 </option><option value="25"> 25 </option><option value="26"> 26 </option><option value="27"> 27 </option><option value="28"> 28 </option><option value="29"> 29 </option><option value="30"> 30 </option><option value="31"> 31 </option>
                            </select>&nbsp;

                        <select size="1" name="month" class="custom-select mb-2 mr-sm-2 mb-sm-0">
                                 <option value="y" selected="">Select</option><option value="January"> January </option><option value="February"> February </option><option value="March"> March </option><option value="April"> April </option><option value="May"> May </option><option value="June"> June </option><option value="July"> July </option><option value="August"> August </option><option value="September"> September </option><option value="October"> October </option><option value="November"> November </option><option value="December"> December </option>
                            </select>&nbsp;

                        <select size="1" name="year" class="custom-select mb-2 mr-sm-2 mb-sm-0"><option value="w" selected="">Select</option><option value="1936"> 1936 </option><option value="1937"> 1937 </option><option value="1938"> 1938 </option><option value="1939"> 1939 </option><option value="1940"> 1940 </option><option value="1941"> 1941 </option><option value="1942"> 1942 </option><option value="1943"> 1943 </option><option value="1944"> 1944 </option><option value="1945"> 1945 </option><option value="1946"> 1946 </option><option value="1947"> 1947 </option><option value="1948"> 1948 </option><option value="1949"> 1949 </option><option value="1950"> 1950 </option><option value="1951"> 1951 </option><option value="1952"> 1952 </option><option value="1953"> 1953 </option><option value="1954"> 1954 </option><option value="1955"> 1955 </option><option value="1956"> 1956 </option><option value="1957"> 1957 </option><option value="1958"> 1958 </option><option value="1959"> 1959 </option><option value="1960"> 1960 </option><option value="1961"> 1961 </option><option value="1962"> 1962 </option><option value="1963"> 1963 </option><option value="1964"> 1964 </option><option value="1965"> 1965 </option><option value="1966"> 1966 </option><option value="1967"> 1967 </option><option value="1968"> 1968 </option><option value="1969"> 1969 </option><option value="1970"> 1970 </option><option value="1971"> 1971 </option><option value="1972"> 1972 </option><option value="1973"> 1973 </option><option value="1974"> 1974 </option><option value="1975"> 1975 </option><option value="1976"> 1976 </option><option value="1977"> 1977 </option><option value="1978"> 1978 </option><option value="1979"> 1979 </option><option value="1980"> 1980 </option><option value="1981"> 1981 </option><option value="1982"> 1982 </option><option value="1983"> 1983 </option><option value="1984"> 1984 </option><option value="1985"> 1985 </option><option value="1986"> 1986 </option><option value="1987"> 1987 </option><option value="1988"> 1988 </option><option value="1989"> 1989 </option><option value="1990"> 1990 </option><option value="1991"> 1991 </option><option value="1992"> 1992 </option><option value="1993"> 1993 </option><option value="1994"> 1994 </option><option value="1995"> 1995 </option><option value="1996"> 1996 </option><option value="1997"> 1997 </option><option value="1998"> 1998 </option><option value="1999"> 1999 </option><option value="2000"> 2000 </option><option value="2001"> 2001 </option><option value="2002"> 2002 </option><option value="2003"> 2003 </option><option value="2004"> 2004 </option><option value="2005"> 2005 </option><option value="2006"> 2006 </option><option value="2007"> 2007 </option><option value="2008"> 2008 </option><option value="2009"> 2009 </option><option value="2010"> 2010 </option><option value="2011"> 2011 </option><option value="2012"> 2012 </option><option value="2013"> 2013 </option><option value="2014"> 2014 </option><option value="2015"> 2015 </option><option value="2016"> 2016 </option><option value="2017"> 2017 </option><option value="2018"> 2018 </option><option value="2019"> 2019 </option><option value="2020"> 2020 </option></select><p></p>


                        <span class="wlable1">Your Radical Number</span><input name="radicalnumber" class="form-control center-block" style="width:90%;" value="" readonly="readonly">
                        <span class="wlable1">Your Lucky Numbers</span><input name="luckynumbers" class="form-control center-block" style="width:90%;" value="" readonly="readonly">
                        <span class="wlable1">Your Lucky Colors</span><input name="luckycolors" class="form-control center-block" style="width:90%;" value="" readonly="readonly">
                        <span class="wlable1">Your Lucky Days</span><input name="luckydays" class="form-control center-block" style="width:90%;" value="" readonly="readonly">
                        <span class="wlable1">Your Lucky Gems</span><input name="luckygems" class="form-control center-block" style="width:90%;" value="" readonly="readonly">
                        <input type="text" name="lname" maxlength="15" id="lname" style="display: none" value="">

                        <input type="button" class="btn" value="Submit" onclick="wnumerology(wwnumeroform)">&nbsp;&nbsp;
                        <input type="Reset" value="Reset" class="btn">
                        <br><br>
                        <p class="widget1 wsmall"><a href="javascript:popUp('')" rel="nofollow">NOTE</a></p>
                        </form>
                </div>
           
             <div class="content-text right_content col-md-6">
                 <p>Mantras For Indian God 
               It includes a selected few prayers, mantras, hymns on Hindu  goddesses.</p>
            </div>
            
            
        </div>
    </div>
    
    
    
  

   
    
    
     <div id="travel" class="content container-fluid" style="background:#bc382e;">
                     <!-- Astrologyfutureeye.com Gokulnath Yatra Pravas Panchagam widget Code Start -->
            <!-- You are not permitted to edit or alter the code -->
            <script type="text/javascript" src="js/widgetgokulpanchagam.js"></script>
            <!-- Gokulnath Yatra Pravas Panchagam widget Code End --> 
    </div>
    
    
    
   

    

   

   
    
    
    
    

    
    

        
        
        
    
    

   

  
        
        
        
        
        
    
    
  
    
   
   
    
        
    
    
    
    
   
    
    
	
    
   
    
    
    
   
        
      
        
        
        
<!--        
        
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>

 Modal 
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
        
        
        
        -->
           
    <footer>
       <div class="container">
           
               <div class="row text-center">
                  <ul class="list-inline">
                                 
                                   <li>
                                        <a href="#"><i class="fa fa-facebook fa-2x"></i></a>
                                   </li>
                                   
                                   <li>
                                        <a href="#"><i class="fa fa-dropbox fa-2x"></i></a>
                                   </li>
                                   
                                   <li>
                                        <a href="#"><i class="fa fa-flickr fa-2x"></i></a> 
                                   </li>
                                  
                                   <li>
                                        <a href="#"><i class="fa fa-github fa-2x"></i></a>
                                   </li>
                                    
                                   <li>
                                        <a href="#"><i class="fa fa-linkedin fa-2x"></i></a>
                                   </li>
                                   
                                   <li>
                                        <a href="#"><i class="fa fa-tumblr fa-2x"></i></a>
                                   </li>
                                   
                                  
                         </ul>
                </div>
                 
                <div class="row text-center">   
                      <ul class="menu list-inline">
                                 
                             <li>
                                <a href="#">Home</a>
                              </li>
                                   
                              <li>
                                 <a href="#">About</a>
                              </li>
                                   
                              <li>
                                <a href="#">Blog</a>
                              </li>
                                   
                              <li>
                                 <a href="#">Gallery</a>
                              </li>
                                   
                              <li>
                                <a href="#">Contact</a>
                             </li>
                   
                     </ul>
                 </div>
               
           
        </div> 
        <div class="row text-center">
         	<p class="m-0 text-center text-white">Doveloped By:<a href="http://www.darhiwala.in">Anurag@darhiwala.in</a><br>Copyright &copy; website 2017</p>
         </div>
    </footer>
    
        
        
        <script src="js/jquery.min.js"></script>
    <script src="js/main.js"></script>
    
    

    <link rel="stylesheet" href="css/widget.css">
        <script src="js/bootstrap.min.js"></script>

  
    <script type="text/javascript">
	var k;
	k=0;

	 
            
    
     function bounce(){
            	var f;
                f=k%3;
            	var arr=[1,2,0];
                
            	
            	
            	var d1=document.querySelector('#bounce'+f);
                var d2=document.querySelector('#bounce'+arr[f]);
         
         
            	
            	if(d1.classList.contains('socc_anim')){
                     d1.classList.remove('socc_anim');
                    
                }
                d2.classList.add('socc_anim');
            
                
                    
         k++;
         
     };
        
       

            setInterval(bounce,3000);
   
    </script>
   

        
  </body>
         
</html>